pre {
  border: none !important;
  padding: 0 !important;
}
kbd {
  border: 1px solid #dfdfdf !important;
  color: #333 !important;
  background-color: #fff !important;
}
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: #fff;
  padding-top: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}
.section-inner p img {
    width: 100%;
}
